.numeric-box-size {
    width: var(--numeric-box-width);
}

.grid-3-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--numeric-touch-gap);
    row-gap: var(--numeric-touch-gap);
}

.grid-3-cols .col {
    grid-column: span 1;
    border: solid 1px brown;
    border-radius: 5px;
    width: 100%;
}

.space-bottom-1 {
    margin-bottom: var(--space-1);
}

.space-bottom-2 {
    margin-bottom: var(--space-2);
}

.space-top-1 {
    margin-top: var(--space-1);
}

.space-top-2 {
    margin-top: var(--space-2);
}

.width-100 {
    width: 100%;
}

.touch-height {
    height: var(--numeric-touch-height);
}

.included {
    background-color: lightsalmon;
}

.not-included {
    background-color: red;
}

.positioned {
    background-color: greenyellow;
}